.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: black;
  z-index: 1;
  pointer-events: none;
}

#search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  z-index: 3; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#search:focus {
  z-index: 0;
}