.badge {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 0.75rem !important;
  padding: 2px 2px;
  border-radius: 50%;
  background: #732bce;
  color: white;
}

@media (width < 768px) {
  .badge {
    font-size: 0.6rem !important;
    top: 10px;
    right: 5px;
  }
}
