#profile-list-item {
  background: #732bce !important;
  color: white;
}
#profile-list-item:nth-child(odd) {
  background: transparent !important;
}
#current-queue-header {
  background: #732bce !important;
}

#group {
  width: fit-content;
}

#group:hover {
  text-decoration: underline;
}
