#login-button {
  background-color: #732bce !important;
}

#login-button:hover {
  filter: brightness(110%);
  transform: translateY(-2px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

#login-form {
  border-color: #732bce !important;
  font-family: "Inter", sans-serif;
}

.form-control::placeholder {
  color: #d2d2d2 !important;
  font-size: 18px;
}

.form-check-input:checked {
  background-color: #732bce !important;
  border-color: #732bce !important;
}

.form-check-input:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(115, 43, 206, 0.25);
}
